/* The 'body' needs the parent element for the background image to scale correctly */

/* Add 'body' AND the parent element 'html'. Then the background image will scale scale*/

body, html {
  /* Fills entire browser when loaded */
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #000;
  color: #00FFC4;
}

.homepage-categories {
  padding: 30px;
  margin: 2rem 0;
  display: block;
  color: #00FFC4;
  font-size: 2rem;
  background-color: #1A1B1D;
  font-weight: bolder;
  box-shadow: 0px 0px 10px 3px #00FFC4;
  transition: all 0.3s ease-in-out;
}

.homepage-categories:hover {
  box-shadow: 0px 0px 10px 3px #be2835;
  color: #be2835;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  background-color: rgba(21, 31, 33, 0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: #d1d1d1;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: white;
}

/*___________________________________________________
  HEADER
  ___________________________________________________*/

#header {
  /* background: url(../img/golden-brown-background.jpg) center center no-repeat; */
  /*span the entire container*/
  background-size: cover;
  height: 100%;
  /* Enable a flex container for this element */
  display: flex;
  /* Center this section vertifcally and horizontally */
  align-items: center;
}

#header img {
  padding-bottom: 20px;
  /* Adjust size of image */
  width: 80%;
}

/* Add transparent background to header form section */

#header .header-right {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

#header .fas {
  margin: 5% 0;
}

/* Change color of font awesome icon */

#header a .fas {
  color: #fff;
}

#header a .fas:hover {
  color: #ccc;
}

/*___________________________________________________
  MY CUSTOM CSS
  ___________________________________________________*/

.example {
  background-color: #000;
  color: #ffbf00;
  padding: 5px;
}

.standout {
  font-weight: bolder;
  font-size: 1.2rem;
}

.command {
  font-weight: bolder;
  font-size: 1.1rem;
}

.img-outline {
  box-shadow: 0px 0px 15px 0px gray;
  margin-bottom: 10px;
}

.bg-shade {
  background-color: #1A1B1D;
}

.bg-black {
  background-color: #000;
}

/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important, .alert-note, .alert-tip, .alert-warning {
  position: relative;
  padding: 15px;
  border: 1px solid #DCDCDC;
  height: auto;
  min-height: 90px;
  display: table;
  margin: 15px 0 15px 0;
  background-color: #90eeff;
}

.alert-content {
  margin-left: 80px;
  line-height: 22px;
  font-size: 95%;
  padding-left: 20px;
  border-left: 1px solid #DCDCDC;
  display: table-cell;
  vertical-align: middle;
}

.alert-content ul, .alert-content ol {
  margin-bottom: 0;
}

.alert-content li {
  padding: 0;
}

.alert-icon {
  display: table-cell;
  width: 8%;
  min-width: 75px;
  vertical-align: middle;
}

/* Desktop, screens less than 760px */

@media (max-width: 760px) {
  /* Screens above 760px will left align text */
  /* Center text on screens under 760px */
  #header {
    text-align: center;
  }
  #social {
    text-align: center;
  }
  /* auto fill both sides so the line shifts to the center*/
  #social hr, #who hr {
    margin: 8% auto;
  }
  /* centers text and button */
  #who {
    text-align: center;
  }
  #who img {
    margin-top: 15%;
  }
  #footer {
    text-align: center;
  }
}
